.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: #000;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: transform 160ms ease;
}

.toggle-switch_active .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__text {
  position: absolute;
  top: 27%;
  color: #00000080;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.toggle-switch__text_active {
  color: #fff;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}
