.profile {
  display: flex;
  justify-content: space-between;
  padding: 19px 0 0;
  gap: 116px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    padding: 4px 0 0;
    gap: 20px;
  }
}
