.card {
  border: 1px solid #0000004d;
  border-radius: 19px;
  overflow: hidden;
  position: relative;
  width: 323px;
  height: 323px;
  display: flex;
  justify-content: center;
}

.card__title-container {
  position: absolute;
  top: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__title {
  margin: 0;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.card__like-btn {
  background: transparent url("../../assets/like-btn.svg") no-repeat center /
    18px 15px;
  width: 18px;
  height: 15px;
  border: none;
}

.card__like-btn_active {
  background-image: url("../../assets/liked-btn.svg");
}

.card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__title-container {
    top: 7px;
  }
}
