.card {
  border: 1px solid #0000004d;
  border-radius: 19px;
  overflow: hidden;
  position: relative;
  width: 323px;
  height: 323px;
  display: flex;
  justify-content: center;
}

.card__title {
  margin: 0;
  position: absolute;
  top: 15px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 627px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__title {
    top: 7px;
  }
}
