.modal_type_delete {
  padding: 60px 0;
}

.modal__container_type_delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 670px;
  height: 280px;
}

.modal__close-btn_type_delete {
  top: 20px;
  right: 20px;
  padding: 0;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__subtitle {
  display: block;
}

.modal__confirm-del-btn {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ff4d00;
  margin: 40px 0 24px;
  padding: 0;
}

.modal__cancel-btn {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
}
