.cards__name {
  margin: 40px 0 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .cards__name {
    margin: 32px 0 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 164px);
    gap: 15px;
  }
}
