.header {
  display: flex;
  align-items: center;
  padding: 0 0 28px;
  position: relative;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  max-width: 89px;
  min-height: 40px;
}

.header__date-and-location {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__mobile-menu {
  display: flex;
}

.header__close-btn {
  display: none;
}

.header__register-btn {
  margin: 0 20px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__login-btn {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 50%;
}

.header__avatar-placeholder {
  background: #00000033;
}

.header__mobile-menu-btn {
  position: absolute;
  top: 18px;
  right: 0;
  height: 44px;
  width: 44px;
  background: #fff url(../../assets/mobile-menu.svg) no-repeat center / 28px
    12px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 8px 0px #0000001a;
  display: none;
}

@media screen and (max-width: 627px) {
  .header {
    padding: 18px 0 16px;
  }

  .header__logo-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .header__logo {
    margin: 0;
  }

  .header__date-and-location {
    white-space: nowrap;
  }

  .header__mobile-menu_active {
    background-color: #fff;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 16px;
    flex-direction: column-reverse;
    box-shadow: 0px 2px 8px 0px #0000001a;
    border-radius: 10px;
    height: 208px;
    justify-content: center;
    align-items: center;
  }

  .header__close-btn_active {
    height: 21px;
    width: 21px;
    display: block;
    background: transparent url(../../assets/close-btn-black.svg) no-repeat
      center / 20px 20px;
    position: absolute;
    top: 11px;
    right: 11.39px;
    border: none;
    padding: 0;
  }

  .header__register-btn {
    margin: 5px 0 0 0;
    display: none;
  }

  .header__login-btn {
    display: none;
  }

  .header__register-btn_active {
    display: block;
  }

  .header__login-btn_active {
    display: block;
  }

  .header__add-clothes-btn {
    display: none;
    margin: 0;
  }

  .header__user-container {
    display: none;
    margin: 0 0 24px;
  }

  .header__add-clothes-btn_active {
    display: block;
  }

  .header__user-container_active {
    display: flex;
    justify-content: center;
  }

  .header__mobile-menu-btn {
    display: block;
  }
}
