.modal_type_preview {
  border-radius: 16px;
}

.modal__container_type_preview {
  padding: 0;
  overflow: hidden;
  border: none;
}

.modal__close-btn_type_preview {
  top: 24px;
  right: 24px;
  padding: 0;
}

.modal__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.modal__footer {
  padding: 20px 32px 32px;
}

.modal__footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__del-btn {
  border: none;
  background: url(../../assets/delete-item.svg) no-repeat center / 98px 13px;
  width: 98px;
  height: 13px;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__weather {
  margin: 12px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 627px) {
  .modal_type_preview {
    border-radius: 12px;
  }

  .modal__close-btn_type_preview {
    top: 12px;
    right: 12.79px;
    padding: 0;
  }

  .modal__footer {
    padding: 20px 20px 40px;
  }
}
