.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 171px 0 0;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 147px 0 0;
  }
}
